.main-menu {
    justify-content: center;
    align-items: center;
    margin-top: 2em !important;
}
.logo img {
    height: 100%;
}
.logo {
    display: flex;
    justify-content: center;
    height: 7em;
    padding: 0 !important;
}
.theme {
    text-align: center;
    padding: 0 !important;
}
.lang {
    text-align: center;
    padding: 0 !important;
}
.lang fieldset {
    visibility: hidden;
}
.theme fieldset {
    visibility: hidden;
}