@font-face {
    font-family: "HWT";
    src: local("HWT"),
    url("../../fonts/HWT Unit Gothic W03 722.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Montserrat";
    src: local("Montserrat"),
    url("../../fonts/Montserrat-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}

.main-text {
    text-align: center;
    font-family: "Montserrat", serif !important;
    font-weight: 800 !important;
    font-size: 8rem !important;
    letter-spacing: 12px !important;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 1rem !important;
}
.text-left {
    padding-left: 6em !important;
}
.text-left h6{
    text-align: left;
    font-family: "Montserrat", serif;
}
.text-right {
    padding-left: 1em !important;
    padding-right: 4em !important;
    width: 17em;
}
.text-right h6 {
    font-family: "Montserrat", serif;
    text-align: right;
}
