.footer {
    background-color: black;
    border-radius: 10px;
    height: 3em;
    display: flex !important;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    color: black !important;
}