.music-track-image img {
    height: 4.2em;
    border-radius: 10px;
}
.music-track-info {
    align-content: center;
}
.music-track-info div {
    padding: 2px;
}
.player-progress {
    display: flex;
    justify-content: center;
}
#music-track-name {
    font-size: 1em;
    font-weight: 500;
}
#music-track-author {
    font-size: 0.8em;
    font-weight: 300;
}
